*{
margin: 0;
padding: 0;


}

body{
background-image: linear-gradient ()         



}

main{
margin: 60px;
color: aliceblue;


}

header{
margin: 36px;
padding: 0;
background-color: black;

    
}

h1{
margin: 0px;
padding-left: 800px;
background-color: rgb(253, 253, 253);
background-position: fixed;
background-repeat: no-repeat;

}

img{
margin: -4px;
padding: -0px;
margin-left: -10%;
width: 50%

}

/* p{
margin: 0%;
padding: 0px;
font-size:;
} */